AccessControl==4.0b3
Acquisition==4.4.4
attrs==17.4.0
AuthEncoding==4.0.0
autobahn==17.10.1
Automat==0.6.0
beautifulsoup4==4.6.0
BTrees==4.4.1
certifi==2018.1.18
Chameleon==3.2
chardet==3.0.4
constantly==15.1.0
cookiejack==0.0.1a0
DateTime==4.2
DocumentTemplate==3.0b2
ExtensionClass==4.3.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.19
MultiMapping==4.0
PasteDeploy==1.5.2
Persistence==3.0b2
persistent==4.2.4.2
python-gettext==3.0
pytz==2018.3
requests==2.18.4
RestrictedPython==4.0b2
scapy==2.4.0rc4
six==1.11.0
tld==0.7.9
transaction==2.1.2
Twisted==17.9.0
txaio==2.8.2
urllib3==1.22
waitress==1.1.0
WebOb==1.8.0rc1
WebTest==2.0.29
wheel==0.24.0
WSGIProxy2==0.4.4
z3c.pt==3.1.0
zc.lockfile==1.2.1
ZConfig==3.2.0
zExceptions==4.0
ZODB==5.3.0
zodbpickle==1.0
Zope==4.0b3
zope.annotation==4.6.0
zope.browser==2.2.0
zope.browsermenu==4.3.0
zope.browserpage==4.2.0
zope.browserresource==4.2.1
zope.cachedescriptors==4.3.1
zope.component==4.4.1
zope.configuration==4.1.0
zope.container==4.2.1
zope.contentprovider==4.1.0
zope.contenttype==4.3.0
zope.deferredimport==4.2.1
zope.deprecation==4.3.0
zope.dottedname==4.2
zope.event==4.3.0
zope.exceptions==4.2.0
zope.filerepresentation==4.2.0
zope.globalrequest==1.4
zope.i18n==4.3.1
zope.i18nmessageid==4.1.0
zope.interface==4.4.3
zope.lifecycleevent==4.2.0
zope.location==4.1.0
zope.pagetemplate==4.3.0
zope.processlifetime==2.2.0
zope.proxy==4.3.0
zope.ptresource==4.1.0
zope.publisher==4.3.2
zope.schema==4.5.0
zope.security==4.2.2
zope.sequencesort==4.0.1
zope.site==4.1.0
zope.size==4.2.0
zope.structuredtext==4.2.0
zope.tal==4.3.0
zope.tales==4.2.0
zope.testbrowser==5.2.4
zope.testing==4.6.2
zope.traversing==4.2.0
zope.viewlet==4.1.0
